<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>



    <application
        android:usesCleartextTraffic="true"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/wa_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/wa_icon_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.WA_UI_Design"
        tools:targetApi="31">

        <activity
            android:name=".LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".MainActivity"
            android:label="MainActivity"
            android:exported="true" />

        <activity
            android:name=".JoinActivity"
            android:label="회원가입"
            android:exported="false" />

        <activity
            android:name=".CalenderActivity"
            android:label="CalendarActivity"
            android:exported="true" />

        <activity
            android:name=".CalenderAddActivity"
            android:label="CalenderAddActivity"
            android:exported="true" />

        <activity
            android:name=".PetRegisterActivity"
            android:label="PetRegisterActivity"
            android:exported="true" />

        <activity
            android:name=".HospitalActivity"
            android:label="HospitalActivity"
            android:exported="true" />

        <activity
            android:name=".MissingActivity"
            android:label="MissingActivity"
            android:exported="true" />

        <activity
            android:name=".foodActivity"
            android:label="foodActivity"
            android:exported="true" />

        <activity
            android:name=".BoardWriteActivity"
            android:label="BoardWriteActivity"
            android:exported="true" />

        <activity
            android:name=".BoardTextPageActivity"
            android:label="BoardTextPageActivity"
            android:exported="true" />

        <activity android:name=".HospitalPageActivity"
            android:label="HospitalPageActivity"/>

        <activity android:name=".HospitalReviewActivity"
            android:label="HospitalReviewActivity"/>

        <activity android:name=".MissingWriteActivity"
            android:label="MissingWriteActivity"/>

        <activity android:name=".MissingMapActivity"
            android:label="MissingMapActivity"/>

        <activity android:name=".MissingPageActivity"
            android:label="MissingPageActivity"/>

        <activity android:name=".MissingFindActivity"
            android:label="MissingFindActivity"/>



        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDfmh2ApAQpQEyQhLgUgn1Aow3gmi4NviA" />

    </application>

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

</manifest>
